.publicity {
  background-color: #ffffff;
}
.publicity * {
  box-sizing: border-box;
}
.publicity .topBgcontainer,
.publicity .container,
.publicity #footerA {
  width: 1190px;
  padding-left: 0;
  padding-right: 0;
}
.publicity img {
  max-width: 100%;
}
.publicity .media-body,
.publicity .media-left,
.publicity .media-right {
  display: table-cell;
  vertical-align: top;
}
.publicity .media-body {
  width: 10000px;
}
.publicity .media-left img {
  max-width: none;
}
.publicity .media-firmitem .media-left {
  padding-right: 15px;
}
.publicity .media-labels1 {
  line-height: 1.7;
}
.publicity .media-text {
  line-height: 1.6;
  margin: 15px 0 0 0;
}
.cont-nav {
  padding-top: 10px;
}
.cont-nav:before,
.cont-nav:after {
  content: "";
  display: table;
}
.cont-nav:after {
  clear: both;
}
.cont-nav .item {
  float: left;
  width: 33.3%;
}
.head-form {
  height: 456px;
  padding-left: 816px;
  border-top: 1px solid transparent;
  margin-top: -1px;
}
.head-form.from1 {
  background: url("../img/nav-cont-bg1.png") no-repeat 100% 100%;
}
.head-form.from2 {
  background: url("../img/nav-cont-bg2.png") no-repeat 100% 100%;
}
.head-form.from3 {
  background: url("../img/nav-cont-bg3.png") no-repeat 100% 100%;
}
.head-form.from2 .form-cont input,
.head-form.from2 .form-cont button,
.head-form.from2 .form-cont select,
.head-form.from2 .form-cont textarea {
  margin: 12px 0;
}
.head-form .form-cont {
  width: 340px;
  height: 404px;
  margin-top: 52px;
  padding: 10px 30px 0;
  text-align: center;
  background-color: #ffffff;
}
.head-form .form-cont .title {
  font-size: 18px;
  margin-top: 20px;
  text-align: left;
  font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  color: #000;
}
.head-form .form-cont p {
  margin: 0;
}
.head-form .form-cont em {
  color: #f25619;
}
.head-form .form-cont .current-num {
  font-size: 13px;
  margin-top: 15px;
}
.head-form .form-cont input,
.head-form .form-cont button,
.head-form .form-cont select,
.head-form .form-cont textarea {
  display: block;
  width: 100%;
  line-height: 32px;
  border: 1px solid #ddd;
  padding: 0 6px;
  margin: 19px 0;
}
.head-form .form-cont button {
  cursor: pointer;
}
.head-form .form-cont option {
  line-height: 25px;
}
.head-form .form-cont [type=submit] {
  line-height: 40px;
  background-color: #f25619;
  color: #fff;
  font-size: 16px;
}
.head-form .form-cont select {
  height: 28px;
}
.head-form .form-cont textarea {
  line-height: 1.4;
  padding-top: .5em;
  padding-bottom: .5em;
}
.head-form .form-cont .call-hintTxt {
  color: #666;
  margin-bottom: 5px;
}
.head-form .form-cont .call {
  font-weight: bold;
  font-size: 28px;
  color: #c20112;
}
.head-form .form-cont .call img {
  vertical-align: middle;
  margin-bottom: 5px;
}
.new-apply {
  text-align: right;
}
.new-apply h2 {
  float: left;
  margin: 0;
  padding: 20px 0;
  font-size: 32px;
}
.new-apply .type-tabs {
  display: inline-block;
  margin-top: 50px;
}
.new-apply .type-tabs .tab {
  padding: 0 10px;
  color: #666;
}
.new-apply .type-tabs .tab + .tab {
  border-left: 1px solid #ddd;
}
.case-and-new {
  padding-bottom: 50px;
}
.case-and-new:before,
.case-and-new:after {
  content: "";
  display: table;
}
.case-and-new:after {
  clear: both;
}
.case-and-new .before-case .title,
.case-and-new .new-yanfang .title {
  font-size: 24px;
  padding: 20px 0;
}
.case-and-new .before-case .title h2,
.case-and-new .new-yanfang .title h2 {
  margin: 0;
}
.case-and-new .before-case {
  float: left;
  width: 66.6%;
  padding-right: 20px;
}
.case-and-new .new-yanfang {
  float: right;
  width: 33.3%;
}
.publicity-table th,
.publicity-table td {
  text-align: left;
}
.publicity-table th:last-child,
.publicity-table td:last-child {
  text-align: right;
}
.publicity-table th {
  border: 1px solid #dddddd;
  border-width: 1px 0;
  line-height: 42px;
}
.publicity-table td {
  line-height: 32px;
}
.new-yanfang tbody {
  padding-top: 20px;
}
